[user]
	name = Nii Kenichi
	email = nii_kenichi@cyberagent.co.jp
[color]
	ui = auto
[push]
	default = simple
[core]
	excludesfile = ~/env/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
