[user]
	name = Nii Kenichi
	email = nii_kenichi@cyberagent.co.jp
[color]
	ui = auto
	status = auto
	diff = auto
[push]
	default = simple
[core]
	excludesfile = ~/dotfiles/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
	external = ~/dotfiles/bin/vim_diff_wrapper
[pager]
	diff =
